 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</head>



</html>





<body class="bg-secondary">





    <div id="login" class="mt-5">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form-control" action="/login" method="POST" autocomplete="on">

                            <div class="form-group">
                                <label for="username" class="text-dark">Email:</label><br>
                                <input type="email" name="email" id="email" class="form-control" >
                                 
                            </div>

                            <div id="" style="display: none;">
                                <p>Invalid email</p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control" >
                               
                            
                            </div>
                            <div id="pass" style="display: none;">
                                <p>Invalid  password</p>
                            </div>
                            <div class="form-group">

                                <label for="remember-me" class="text-dark"><span>Remember me</span> <span><input
                                            id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <button type="submit" name="submit" class="btn btn-success btn-md">Login</button>
                                <p>Create an account ?<a href="/signup">Sign in</a></p>
                            </div>
                            <div id="register-link" class="text-right">
                                
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
     /* $('#login-form').submit((e) => {
            e.preventDefault()
            let email = $('#email').val()
            let password = $('#password').val()
            $.ajax({
                url: "/login",
                method: "post",
                data: {
                    email,
                    password
                },
                success: (response) => {
                    if (response.s == 0) {
                        location.href = '/home'
                    } else if (response.s == 1) {
                        $('#pass').show()
                        $('#user').hide()
                    }
                    else {
                        $('#user').show()
                    }
                }
            })
        }) --}}
    </script>
  
<script>
    $(document).ready(function(){
  $('#login-form').validate({
            rules:{
         email:{
             required:true,
             
         },
         password:{
             required:true,
             minlength:5
         }

 }
})
    })
    </script>
</body>

